# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some Data Science Tools
- Demonstrates how to evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. TensorFlow
3. Apache Spark

|Data Science Tools|
|---|
|VS Code|
|JupyterLab|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sarmilan Sreekaran